{%extends  'base.html'%}
{%block title%}
Pet Management | About Us
{%endblock%}

{%block content%}
<div class="jumbotron jumbotron-fluid">
    <section id="showcase">
        <div class="container">
            <h1> About Us </h1> 

            
        </div>
    </section>
</div>
<div class="container">
    <section id="main">
     <div class="col-md-8 col-sm-8">
            <p>We are a Pet Haven that focuses on creating a positive enviroment and well being for our animals.</p>
            <p> Phone:0723456789</p>
            <p> Email:petlabs@gmail.com </p>
            <p> Instagram: @PetLabs</p>
            <p> Facebook:Pet Labs</p>
            <p> Twitter:Pet_Labs</p>
     
     </div>
    
    
    </section>

</div>
{%endblock%}

{%block footer%}
<footer width="76%" border="0" align="center" valign="bottom" cellspacing="0" cellpadding="0" id="main-footer">
    <p>Copyright &copy; 2020 PetLabs INC</p>
</footer>
{%endblock%}